<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class=" navbar" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/users">Users</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/courses">Courses</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/about">About</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </div>
    </div>
  </nav>